.product-header{
    background: url('../../../../assets/img/banner/main-banner-image.jpg');
    height: 120px; 
    font-family: Corbel, "Corbel", sans-serif;

}

.product-header .icon-container{
    color: #fdede2;
}

.product-header .icon-container ul{
    /* font-size: 1.1em; */
    padding: 0px;
    padding-top: 15px;
    padding-left: 15px;
}

.product-header .icon-container ul li{
    display: inline;
    padding: 5px 12px;
    border: 1px solid #fdede278;
}

.product-header .icon-container ul li:first-child{
    border-right: none;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

.product-header .icon-container ul li:nth-child(2){
    border-right: none;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

.product-header .title-logo{
    font-size: 1.3em;
    font-weight: bolder;
    text-align: center;
    position: absolute;
    top: 50px;
    margin: auto;
    width: 100%;
}


.product-header .title-container{
    font-size: 1.3em;
    font-weight: 600;
    color: #fdede2;
    text-transform: capitalize;
    display: block;
}

.product-header .title-container .title{
    padding-top: 30px;
    padding-left: 20px;
    float: left;
}

.product-header .title-container .line{
    border-bottom: 1px solid #fdede2;
    float: right;
    padding-top: 20px; 
    width: 70%;  
    height: 20px;
}
