<div class="product-header">
    <div class="icon-container">
        <ul style="margin-block-start: 1em;margin-block-end: 1em;">
            <li><fa-icon [icon]="['fas', 'chevron-left']"></fa-icon></li>
            <li><fa-icon [icon]="['fas', 'home']"></fa-icon></li>
        </ul>
    </div>
    <div class="title-logo">
        <div class="liulian">
            <span class="liu">LIU</span>
            <span class="lian">LIAN</span>
        </div>
    </div>
    <div class="title-container">
        <div class="title">{{id}}</div>
        <div class="line"></div>
    </div>
</div>

