<div class="product-header">
    <div class="icon-container">
        <ul style="margin-block-start: 1em;margin-block-end: 1em;">
            <li>
                <fa-icon [icon]="['fas', 'chevron-left']"></fa-icon>
            </li>
            <li>
                <fa-icon [icon]="['fas', 'home']"></fa-icon>
            </li>
        </ul>
    </div>
    <!-- <div class="title-logo">
        <div class="liulian">
            <span class="liu">LIU</span>
            <span class="lian">LIAN</span>
        </div>
    </div> -->
    <div class="title-container">
        <div class="title">
            <!-- <span><fa-icon [icon]="['fas', 'mobile-alt']"></fa-icon></span>  -->
            {{menu}}</div>
        <div class="line"></div>
    </div>

    <!-- {{productName}} -->
</div>

<div class="product-logo-container">
    <div class="logos">
        <mat-grid-list cols="3" gutterSize="10px" rowHeight="2:1.4">

            <mat-grid-tile class="my-grid-tile" [class.active]="isActive" (click)="selectProduct('celcom')">
                <img src="../../../../assets/img/product/celcom.png" alt="">
            </mat-grid-tile>
            <mat-grid-tile class="my-grid-tile active" (click)="selectProduct('umobile')">
                <img src="../../../../assets/img/product/umobile.png" alt="">
            </mat-grid-tile>
            <mat-grid-tile class="my-grid-tile" [class.active]="isActive" (click)="selectProduct('redone')">
                <img src="../../../../assets/img/product/redone.png" alt="">
            </mat-grid-tile>
            <mat-grid-tile class="my-grid-tile" [class.active]="isActive" (click)="selectProduct('hotlink')">
                <img src="../../../../assets/img/product/hotlink.png" alt="">
            </mat-grid-tile>
            <mat-grid-tile class="my-grid-tile" [class.active]="isActive" (click)="selectProduct('maxis')">
                <img src="../../../../assets/img/product/maxis.png" alt="">
            </mat-grid-tile>
            <mat-grid-tile class="my-grid-tile" [class.active]="isActive" (click)="selectProduct('tunetalk')">
                <img src="../../../../assets/img/product/tunetalk.png" alt="">
            </mat-grid-tile>

        </mat-grid-list>
    </div>
</div>

<div class="main-btn-container">
    <button (click)="btnContinue()" class="btn-main">Continue</button>
</div>