<mat-toolbar class="toolbar">
    <!-- <span mat-button>Promo</span>
    <span class="example-fill-remaining-space"></span>
    <span mat-button>Activity</span>
    <span class="example-fill-remaining-space"></span>
    <span>Home</span>
    <span class="example-fill-remaining-space"></span>
    <span>News</span>
    <span class="example-fill-remaining-space"></span>
    <span>Profile</span> -->

    <!-- <span><mat-icon>dns</mat-icon></span> -->


    <a routerLink="/promo" routerLinkActive="active new-back" class="auto-space">
        <div class="label"><span>Promo</span></div>
    </a>
    <a routerLink="/activity" routerLinkActive="active new-back" class="auto-space">
        <div class="label"><span>Activity</span></div>
    </a>
    <a routerLink="/home" routerLinkActive="active new-back" class="auto-space">
        <div class="label"><span>Home</span></div>
    </a>
    <a routerLink="/news" routerLinkActive="active new-back" class="auto-space">
        <div class="label"><span>News</span></div>
    </a>
    <a routerLink="/profile" routerLinkActive="active new-back" class="auto-space">
        <div class="label"><span>Profile</span></div>
    </a>
</mat-toolbar>