<mat-toolbar class="toolbar" style="padding: 0;">

    <!-- <span><mat-icon>dns</mat-icon></span> -->
    <!-- <fa-icon [icon]="faCoffee"></fa-icon> -->
    <!-- <div class="icon"><fa-icon [icon]="['far', 'user']"></fa-icon></div> -->

    <!-- <fa-icon [icon]="['fas', 'user']"></fa-icon> -->

    <!-- <a routerLink="/promo" routerLinkActive="active new-back" class="auto-space">
        <div class="icon"><mat-icon>card_giftcard</mat-icon></div>
        <div class="label"><span>Promo</span></div>
    </a>
    <a routerLink="/activity" routerLinkActive="active new-back" class="auto-space">
        <div class="icon"><mat-icon>subject</mat-icon></div>
        <div class="label"><span>Activity</span></div>
    </a>
    <a routerLink="/home" routerLinkActive="active new-back" class="auto-space circle">
        <div class="tab-logo"><span class="liu">LIU</span><span class="lian">LIAN</span></div>
    </a>
    <a routerLink="/news" routerLinkActive="active new-back" class="auto-space">
        <div class="icon fa"><fa-icon [icon]="['far', 'newspaper']"></fa-icon></div>
        <div class="label"><span>News</span></div>
    </a>
    <a routerLink="/profile" routerLinkActive="active new-back" class="auto-space">
        <div class="icon fa"><fa-icon [icon]="['far', 'user-circle']"></fa-icon></div>
        <div class="label"><span>Account</span></div>
    </a> -->

    <a (click)="availableSoon()" class="auto-space">
        <div class="icon">
            <mat-icon>card_giftcard</mat-icon>
        </div>
        <div class="label"><span>优惠连连</span></div>
    </a>
    <a (click)="availableSoon()" class="auto-space">
        <div class="icon">
            <mat-icon>subject</mat-icon>
        </div>
        <div class="label"><span>惊喜活动</span></div>
    </a>
    <a routerLink="/home" routerLinkActive="active new-back" class="auto-space circle">
        <div class="tab-logo"><span class="liu">LIU</span><span class="lian">LIAN</span></div>
        <!-- <div class="label"><span>Home</span></div> -->
    </a>
    <a (click)="availableSoon()" class="auto-space">
        <!-- <div class="icon fa">
            <fa-icon [icon]="['far', 'newspaper']"></fa-icon>
        </div> -->
        <div class="icon">
            <mat-icon>rss_feed</mat-icon>
        </div>
        <div class="label"><span>新闻资讯</span></div>
    </a>
    <a (click)="availableSoon()" class="auto-space">
        <div class="icon">
            <mat-icon>tune</mat-icon>
        </div>
        <div class="label"><span>我的账户</span></div>
    </a>

</mat-toolbar>