<!-- <mat-toolbar class="toolbar"> -->
<!-- <span mat-button>Promo</span>
    <span class="example-fill-remaining-space"></span>
    <span mat-button>Activity</span>
    <span class="example-fill-remaining-space"></span>
    <span>Home</span>
    <span class="example-fill-remaining-space"></span>
    <span>News</span>
    <span class="example-fill-remaining-space"></span>
    <span>Profile</span> -->
<!-- <a href="" class="example-fill-remaining-space">
        <div>Promo</div>
    </a>
    <a href="" class="example-fill-remaining-space">
        <div>Promo</div>
    </a>
    <a href="" class="example-fill-remaining-space">
        <div>Promo</div>
    </a>
    <a href="" class="example-fill-remaining-space">
        <div>Promo</div>
    </a>
    <a href="" class="example-fill-remaining-space">
        <mat-icon>grade</mat-icon>
        <div>Promo</div>
    </a> -->


<!-- </mat-toolbar> -->
<h1>hi</h1>