<div class="product-header">
    <div class="message-container">
        <div class="message">
            <div class="icon">
                <mat-icon>check</mat-icon>
            </div>
            <div class="title">恭喜你</div>
            <div class="description">您可以在“我的订单”里查看充值详情哦</div>
        </div>
    </div>
</div>

<div class="ref-container">
    <mat-grid-list cols="2" gutterSize="10px" rowHeight="60px">

        <mat-grid-tile class="my-grid-tile">
            <div class="inside-grid ">
                <div class="label">订单编号</div>
                <div class="text">v5r6e6we9g4</div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile class="my-grid-tile">
            <div class="inside-grid ">
                <div class="label">订单时间</div>
                <div class="text">13 Apr, 2020</div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile class="my-grid-tile">
            <div class="inside-grid ">
                <div class="label">订单金额</div>
                <div class="text">20RM/34.60CNY</div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile class="my-grid-tile">
            <div class="inside-grid ">
                <div class="label">订单接收方</div>
                <div class="text">HotLink</div>
            </div>
        </mat-grid-tile>

    </mat-grid-list>
</div>
<div style="padding: 1em;">
    <hr class="custom-hr">
</div>
<div class="more-info">
    <div>
        <div class="label">更多详情</div>
        <div class="text">+60 11 2740 2150</div>
    </div>
</div>

<div class="main-btn-container">
    <button (click)="btnHome()" class="btn-main">返回主页</button>
</div>
 