<div class="product-header">
    <div class="message-container">
        <div class="message">
            <div class="icon"><mat-icon>check</mat-icon></div>
            <div class="title">Recharge Successful</div>
            <div class="description">We have email your reciept for this transaction</div>
        </div>
    </div>    
</div>

<div class="ref-container">
    <mat-grid-list cols="2" gutterSize="10px" rowHeight="60px">
            
        <mat-grid-tile class="my-grid-tile">
            <div class="inside-grid "><div class="label">Reference No</div><div class="text">v5r6e6we9g4</div></div>
        </mat-grid-tile>
        <mat-grid-tile class="my-grid-tile">
            <div class="inside-grid "><div class="label">Transaction Date</div><div class="text">13 Apr, 2020</div></div>
        </mat-grid-tile>
        <mat-grid-tile class="my-grid-tile">
            <div class="inside-grid "><div class="label">Paid Out</div><div class="text">20RM/34.60CNY</div></div>
        </mat-grid-tile>
        <mat-grid-tile class="my-grid-tile">
            <div class="inside-grid "><div class="label">Paid To</div><div class="text">HotLink</div></div>
        </mat-grid-tile>
       
    </mat-grid-list> 
</div>
<div style="padding: 1em;">
    <hr class="custom-hr">
</div>
<div class="more-info">
    <div><div class="label">More Information</div><div class="text">+60 11 2740 2150</div></div>
</div>

<div class="main-btn-container">
    <button (click)="btnHome()" class="btn-main">Home</button>
</div>