<div class="product-header">
    <div class="icon-container">
        <ul style="margin-block-start: 1em;margin-block-end: 1em;">
            <li (click) = goBack()>
                <fa-icon [icon]="['fas', 'chevron-left']"></fa-icon>
            </li>
            <li routerLink="/home">
                <fa-icon [icon]="['fas', 'home']"></fa-icon>
            </li>
        </ul>
    </div>

    <div class="title-container">
        <div class="title">{{productName}} &ensp; {{productMenu}}</div>
        <div class="line"></div>
    </div>
</div>

<div class="m-no-container">
    <!-- <div class="form__group field">
        <input type="input" class="form__field" placeholder="Mobile Number" name="name" id='name' required value="+60"/>
        <label for="name" class="form__label">Mobile Number</label>
      </div> -->
    <mat-form-field class="form_group">
        <span matPrefix>+60 &nbsp;</span>
        <input (keyup)="onKey($event)" class="form_field" type="tel" matInput>
        <mat-placeholder class="placeholder">Mobile Number</mat-placeholder>
        <!-- <mat-icon matSuffix>mode_edit</mat-icon> -->
    </mat-form-field>
</div>

<div class="product-logo-container">
    <div class="label">Amount</div>
    <div class="logos">
        <mat-grid-list cols="3" gutterSize="10px" rowHeight="2:1.4">

            <div [hidden]="isHidden">
                <ngx-skeleton-loader count="6" [theme]="{ 
                    'border-radius': '5px',
                    height: '80px', width: '33%',
                    'background-color': 'rgba(0, 0, 0, 0.1)',
                    border: '1px solid white'
                  }">
                </ngx-skeleton-loader>
            </div>

            <mat-grid-tile class="my-grid-tile" (click)="selectAmount(amount.amount_myr)" *ngFor="let amount of productAmountList['data']">
                <div>
                    <div class="myr-amount"><span>MYR</span> {{amount.amount_myr}}</div>
                    <div class="cny-amount"> {{amount.amount_myr}}RM/{{amount.amount_myr * 1.68}}CNY</div>
                </div>
            </mat-grid-tile>

            <!-- <mat-grid-tile class="my-grid-tile" (click)="selectAmount(10)">
                <div>
                    <div class="myr-amount"><span>MYR</span> 10</div>
                    <div class="cny-amount">10RM/17.46CNY</div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="my-grid-tile" (click)="selectAmount(20)">
                <div>
                    <div class="myr-amount"><span>MYR</span> 20</div>
                    <div class="cny-amount">20RM/34.60CNY</div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="my-grid-tile" (click)="selectAmount(50)">
                <div>
                    <div class="myr-amount"><span>MYR</span> 50</div>
                    <div class="cny-amount">50RM/86.20CNY</div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="my-grid-tile active" (click)="selectAmount(100)">
                <div>
                    <div class="myr-amount"><span>MYR</span> 100</div>
                    <div class="cny-amount">100RM/172.46CNY</div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="my-grid-tile" (click)="selectAmount(150)">
                <div>
                    <div class="myr-amount"><span>MYR</span> 150</div>
                    <div class="cny-amount">150RM/258.60CNY</div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="my-grid-tile" (click)="selectAmount(200)">
                <div>
                    <div class="myr-amount"><span>MYR</span> 200</div>
                    <div class="cny-amount">200RM/344.80CNY</div>
                </div>
            </mat-grid-tile> -->

        </mat-grid-list>
    </div>
</div>

<div class="main-btn-container">
    <button (click)="btnConfirmPayment()" class="btn-main">确认充值</button>
</div>