<!-- <app-tabbar></app-tabbar> -->
<!-- <div class="user-profile">

</div> -->
<div>
    <mat-carousel>
        <mat-carousel-slide >
            <img src="../../../assets/img/2.jpg" alt="">
        </mat-carousel-slide>
        <mat-carousel-slide style="height: 350px;">
            <img src="../../../assets/img/4.jpg" alt="">
        </mat-carousel-slide> 
    </mat-carousel>
</div>

<div class="cat-container">

    <div class="cat-title"><span>Recharge & Bill Payment</span></div>

    <div class="cat-menu-container">
        
        <mat-grid-list cols="4">
            
            <mat-grid-tile class="my-grid-tile">
                <div class="cat-manu">
                    <div class="cat-menu-icon"><img src="../../../assets/img/icon/prepaid.png" alt=""></div> 
                    <div class="cat-menu-title">Prepaid</div>
                </div>
            </mat-grid-tile>
            
            <mat-grid-tile class="my-grid-tile">
                <div class="cat-manu">
                    <div class="cat-menu-icon"><img src="../../../assets/img/icon/postpaid.png" alt=""></div> 
                    <div class="cat-menu-title">Postpaid</div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="my-grid-tile" (click)= "futureMessage()">
                <div class="cat-manu">
                    <div class="cat-menu-icon"><img class="m-l-10" src="../../../assets/img/icon/touchngo.png" alt=""></div> 
                    <div class="cat-menu-title">Touch'nGo</div> 
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="my-grid-tile">
                <div class="cat-manu">
                    <div class="cat-menu-icon"><img src="../../../assets/img/icon/games.png" alt=""></div> 
                    <div class="cat-menu-title">Games</div>
                </div>
            </mat-grid-tile>
            <!-- <br> -->
            <mat-grid-tile class="my-grid-tile">
                <div class="cat-manu">
                    <div class="cat-menu-icon"><img src="../../../assets/img/icon/water.png" alt=""></div> 
                    <div class="cat-menu-title">Water</div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="my-grid-tile">
                <div class="cat-manu">
                    <div class="cat-menu-icon"><img class="m-l-10" src="../../../assets/img/icon/electricity.png" alt=""></div> 
                    <div class="cat-menu-title">Electricity</div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="my-grid-tile">
                <div class="cat-manu">
                    <div class="cat-menu-icon"><img src="../../../assets/img/icon/internet.png" alt=""></div> 
                    <div class="cat-menu-title">Internet</div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="my-grid-tile">
                <div class="cat-manu">
                    <div class="cat-menu-icon"><img class="m-l-10" src="../../../assets/img/icon/tv.png" alt=""></div> 
                    <div class="cat-menu-title">Television</div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>  
  
    </div>

    <div class="cat-title"><span>Book on Liulian</span></div>

    <div class="cat-menu-container">
        
        <mat-grid-list cols="4">
            
            <mat-grid-tile class="my-grid-tile" (click)= "futureMessage()">
                <div class="cat-manu">
                    <div class="cat-menu-icon"><img src="../../../assets/img/icon/movie.png" alt=""></div> 
                    <div class="cat-menu-title">Movie</div>
                </div>
            </mat-grid-tile>
            
            <mat-grid-tile class="my-grid-tile" (click)= "futureMessage()">
                <div class="cat-manu">
                    <div class="cat-menu-icon"><img src="../../../assets/img/icon/train.png" alt=""></div> 
                    <div class="cat-menu-title">Train</div>
                </div>
            </mat-grid-tile>
            
            
        </mat-grid-list>  
  
    </div>
 
</div>

