<app-tabbar></app-tabbar>
<!-- <div class="user-profile">

</div> -->
<div class="scrollbar">
    <div>
        <!-- <mat-carousel>
            <mat-carousel-slide >
                <img src="../../../assets/img/2.jpg" alt="">
            </mat-carousel-slide>
            <mat-carousel-slide style="height: 350px;">
                <img src="../../../assets/img/4.jpg" alt="">
            </mat-carousel-slide> 
        </mat-carousel> -->

        <div class="home-banner">
            <img src="../../../assets/img/banner/1_JNPojwgY3zd-F8UUo_ZeUQ.png" alt="">
        </div>
    </div>

    <div class="cat-container">
        <div class="cat-title"><span>充值和缴费</span></div>
        <div class="cat-menu-container">
 
            <mat-grid-list cols="4 ">
                
                <mat-grid-tile class="my-grid-tile " (click)="onSelect( 'prepaid') ">
                    <div class="cat-manu ">
                        <div class="cat-menu-icon "><img src="../../../assets/img/icon/prepaid.png " alt=" "></div>
                        <div class="cat-menu-title ">预付费</div>
                    </div>
                </mat-grid-tile>

                <mat-grid-tile class="my-grid-tile " (click)="onSelect( 'postpaid') ">
                    <div class="cat-manu ">
                        <div class="cat-menu-icon "><img src="../../../assets/img/icon/postpaid.png " alt=" "></div>
                        <div class="cat-menu-title ">后付费</div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile class="my-grid-tile " (click)="futureMessage() ">
                    <div class="cat-manu ">
                        <div class="cat-menu-icon "><img src="../../../assets/img/icon/touchngo.png " alt=" "></div>
                        <div class="cat-menu-title ">Touch'nGo</div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile class="my-grid-tile " (click)="onSelect( 'games') ">
                    <div class="cat-manu ">
                        <div class="cat-menu-icon "><img src="../../../assets/img/icon/games.png " alt=" "></div>
                        <div class="cat-menu-title ">游戏充值</div>
                    </div>
                </mat-grid-tile>
                <!-- <br> -->
                <mat-grid-tile class="my-grid-tile " (click)="onSelect( 'water') ">
                    <div class="cat-manu ">
                        <div class="cat-menu-icon "><img src="../../../assets/img/icon/water.png " alt=" "></div>
                        <div class="cat-menu-title ">水费</div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile class="my-grid-tile " (click)="onSelect( 'electricity') ">
                    <div class="cat-manu ">
                        <div class="cat-menu-icon "><img src="../../../assets/img/icon/electricity.png " alt=" "></div>
                        <div class="cat-menu-title ">电费</div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile class="my-grid-tile " (click)="onSelect( 'internet') ">
                    <div class="cat-manu ">
                        <div class="cat-menu-icon "><img src="../../../assets/img/icon/internet.png " alt=" "></div>
                        <div class="cat-menu-title ">网费</div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile class="my-grid-tile " (click)="onSelect( 'television') ">
                    <div class="cat-manu ">
                        <div class="cat-menu-icon "><img class="m-l-10 " src="../../../assets/img/icon/tv.png " alt=" "></div>
                        <div class="cat-menu-title ">电视缴费</div>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>

        </div>

        <div class="cat-title "><span>流连大马预定服务</span></div>

        <div class="cat-menu-container ">
            <mat-grid-list cols="4 ">

                <mat-grid-tile class="my-grid-tile " (click)="futureMessage() ">
                    <div class="cat-manu ">
                        <div class="cat-menu-icon"><img src="../../../assets/img/icon/movie.png " alt=" "></div>
                        <div class="cat-menu-title ">电影票</div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile class="my-grid-tile" (click)="futureMessage() ">
                    <div class="cat-manu ">
                        <div class="cat-menu-icon "><img src="../../../assets/img/icon/train.png " alt=" "></div>
                        <div class="cat-menu-title ">火车票</div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile class="my-grid-tile" (click)="futureMessage() ">
                    <div class="cat-manu ">
                        <div class="cat-menu-icon "><img src="../../../assets/img/icon/car.png " alt=" "></div>
                        <div class="cat-menu-title ">汽车出租</div>
                    </div>
                </mat-grid-tile>

            </mat-grid-list>
        </div>

        <div class="official-sign-container ">
            <div class="official-sign ">
                <div class="liulian ">
                    <span class="liu ">LIU</span>
                    <span class="lian ">LIAN</span>
                </div>
                <hr class="custom-hr ">
                <div class="share ">关注我们 &nbsp;&nbsp;|&nbsp;&nbsp; 意见反馈 &nbsp;&nbsp;|&nbsp;&nbsp; 个人中心</div>
            </div>
        </div>

    </div>
</div>